<main>
  <div class="p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal">Your contacts</h1>
    <p class="fs-5 text-muted">List of contacts successfully imported.</p>
  </div>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Credit Card Number</th>
          <th>Credit Card Network</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.contacts}}
          <tr>
            <td>{{name}}</td>
            <td><a href="mailto:{{email}}">{{email}}</a></td>
            <td>{{formatDate dateOfBirth}}</td>
            <td><a href="tel:{{phone}}">{{phone}}</a></td>
            <td>{{address}}</td>
            <td>**** **** **** {{creditCardLast4}} </td>
            <td>{{creditCardNetwork}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

<div>
  <ul class="pagination justify-content-end">
      <li class="page-item {{#unless data.pagination.prevPage}} disabled {{/unless}}">
        <a class="page-link" href="?limit={{data.pagination.limit}}&page={{data.pagination.prevPage}}">Previous</a>
      </li>
      <li class="page-item {{#unless data.pagination.nextPage}} disabled {{/unless}}">
        <a class="page-link" href="?limit={{data.pagination.limit}}&page={{data.pagination.nextPage}}">Next</a>
      </li>
    </ul>
</div>
</main>