<main>
  <div class="p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal">Your logs</h1>
    <p class="fs-5 text-muted">List of contacts successfully imported.</p>
  </div>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th>Import</th>
          <th>Row Number</th>
          <th>Error</th>
          <th>Row Data</th>
          {{!-- <th>Used Mapping</th> --}}
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.logs}}
          <tr>
            <td>{{ Import.originalName }}</td>
            <td>{{ rowNumber }}</td>
            <td class="text-danger">{{ error }}</td>
            <td>{{ rowData }}</td>
            {{!-- <td>{{stringify Import.mapping }}</td> --}}
            <td>{{formatDate createdAt }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>